.pageNumbers {
  list-style: none;
  display: flex;
}

.pageNumbers li {
  padding: 10px;
  border: 1px solid #dee2e6;
  cursor: pointer;
  color: #0066c5;
  transition: all 0.3s ease-in-out;
}

.pageNumbers li.active {
  background-color: #0066c5;
  color: white;
}
.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: #0066c5;
  font-size: 1.5rem;
  cursor: pointer;
}
.pageNumbers li:hover {
  background-color: lightgrey;
}
.pageNumbers li button:focus {
  outline: none;
}

.pagination {
  margin: 60px 0;
}
